/cpld/_ngo/
/cpld/_xmsgs/
/cpld/iseconfig/
/cpld/isim/
/cpld/*_html/
/cpld/xlnx_*_xdb/
/cpld/xst/
/cpld/*.csv
/cpld/*.data
/cpld/*.gise
/cpld/*.err
/cpld/*.bld
/cpld/*.cmd_log
/cpld/*.gyd
/cpld/*.html
/cpld/*.jed
/cpld/*.lso
/cpld/*.mfd
/cpld/*.mod
/cpld/*.ng[acdr]
/cpld/*.pad
/cpld/*.pnx
/cpld/*.prj
/cpld/*.rpt
/cpld/*.stx
/cpld/*.syr
/cpld/*.tim
/cpld/*.tspec
/cpld/*.vm6
/cpld/*.xml
/cpld/*.xrpt
/cpld/*.xst
/cpld/*_isim_beh*.*
/cpld/fuse*
/cpld/isim.*
/cpld/addr_decode_sim
/cpld/clk_div_sim
/cpld/fifo_mux_sim
/cpld/xilinxsim.ini
/eagle/*.[bls]#*
/eagle/*.pro
